#page {
    padding-top: 60px;
}

.info_box
{
    overflow: auto;
    cursor: default;
    clear: both;
    position: relative;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
}